In [43]:
!pip install bokeh

Collecting bokeh

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\skillup 08\desktop\proj_env\scripts\python.exe -m pip install --upgrade pip' command.

  Downloading bokeh-2.1.0.tar.gz (19.3 MB)
Requirement already satisfied: PyYAML>=3.10 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (5.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (2.8.1)
Requirement already satisfied: Jinja2>=2.7 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (2.11.2)
Requirement already satisfied: numpy>=1.11.3 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (1.18.5)
Requirement already satisfied: pillow>=4.0 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (7.1.2)
Collecting packaging>=16.8
  Downloading packaging-20.4-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: tornado>=5.1 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from bokeh) (6.0.4)
Collecting typing_extensions>=3.7.4
  Downloading typing_extensions-3.7.4.2-py3-none-any.whl (22 kB)
Requirement already satisfied: six>=1.5 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from python-dateutil>=2.1->bokeh) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from Jinja2>=2.7->bokeh) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\skillup 08\desktop\proj_env\lib\site-packages (from packaging>=16.8->bokeh) (2.4.7)
Building wheels for collected packages: bokeh
  Building wheel for bokeh (setup.py): started
  Building wheel for bokeh (setup.py): finished with status 'done'
  Created wheel for bokeh: filename=bokeh-2.1.0-py3-none-any.whl size=9246336 sha256=261326df046cbe180ff689f4c389eaa4a323ba84d3ff0ab7e770d4252aeab2fc
  Stored in directory: c:\users\skillup 08\appdata\local\pip\cache\wheels\6e\7f\fc\544514e953e6e672587fd3bb77ca4ff32a064c9d8712073dfa
Successfully built bokeh
Installing collected packages: packaging, typing-extensions, bokeh
Successfully installed bokeh-2.1.0 packaging-20.4 typing-extensions-3.7.4.2

In [64]:
import pandas as pd
import numpy as np
from bokeh.io import push_notebook, output_file,show, output_notebook

from bokeh.layouts import row

from bokeh.plotting import figure
import matplotlib.pyplot as plt

In [116]:
df=pd.read_csv('Final_Data.csv')


1- Create a dataframe that contains climate data and display using the method head(). Take a screenshot.

2-	Get the Mininum and Maximum temperatures. Display the first five rows of the dataframe. Take a screenshot.

3-	Create a dataframe where HourlyStationPressure was greater than 29.35mm. Take a screenshot.

4-	Use the function make_dashboard to make a dashboard using Temperature, Humidity. Take a screenshot

5-	Input the link for your notebook generated from Watson Studio.

## 1- Create a dataframe that contains climate data and display using the method head(). Take a screenshot.

In [117]:
df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,reportType,Visibility,Temperature,Humidity,WindSpeed,HourlyWindDirection,HourlyStationPressure,HourlySeaLevelPressure,HourlyAltimeterSetting,DailySunrise,DailySunset
0,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 00:51,FM-15,10.00,30,56,9,330,29.28,30.02,30.00,1227,2342
1,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 01:51,FM-15,10.00,30,58,0,0,29.27,30.02,29.99,1227,2342
2,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 02:51,FM-15,6.00,29,72,8,330,29.28,30.02,30.00,1227,2342
3,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 03:51,FM-15,0.75,28,81,0,0,29.29,30.04,30.01,1227,2342
4,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 04:51,FM-15,10.00,26,78,11,350,29.32,30.06,30.04,1227,2342

## 2- Get the Mininum and Maximum temperatures. Display the first five rows of the dataframe. Take a screenshot.

In [118]:
print("Minimum Temperatire {0}".format(df.Temperature.min()))

Minimum Temperatire -1

In [119]:
print("Maximum Temperatire {0}".format(df.Temperature.max()))

Maximum Temperatire 67

In [120]:
df[:5]

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,reportType,Visibility,Temperature,Humidity,WindSpeed,HourlyWindDirection,HourlyStationPressure,HourlySeaLevelPressure,HourlyAltimeterSetting,DailySunrise,DailySunset
0,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 00:51,FM-15,10.00,30,56,9,330,29.28,30.02,30.00,1227,2342
1,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 01:51,FM-15,10.00,30,58,0,0,29.27,30.02,29.99,1227,2342
2,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 02:51,FM-15,6.00,29,72,8,330,29.28,30.02,30.00,1227,2342
3,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 03:51,FM-15,0.75,28,81,0,0,29.29,30.04,30.01,1227,2342
4,WBAN:94846,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,201.8,41.995,-87.9336,01-03-2014 04:51,FM-15,10.00,26,78,11,350,29.32,30.06,30.04,1227,2342

## 3- Create a dataframe where HourlyStationPressure was greater than 29.35mm. Take a screenshot.

In [121]:
data_subset=df[df.HourlyStationPressure > 29.35]

In [122]:
data_subset.shape

(365, 17)

## 4- Use the function make_dashboard to make a dashboard using Temperature, Humidity. Take a screenshot

In [123]:
def make_dashboard( Humidity, Temp,title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='Humidity', y_axis_label='Temperature')
    p.scatter(Humidity.squeeze(), Temp.squeeze())
    #p.line(Humidity.squeeze(),WindSpeed.squeeze(), line_width=4, legend="Visibility")
    show(p)

In [124]:
Humidity = df.Humidity

In [125]:
Temperature=df.Temperature

In [126]:
title='Humidity as per Temperature'

In [127]:

file_name = "index.html"

In [128]:
make_dashboard(Humidity=Humidity, Temp=Temperature, title=title, file_name=file_name)